<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>Get Lost, Find Yourself Tour 2015</title>
<meta name="description" content="Enter to win " />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Radio Disney | Ariana Grande Sweeps">
<meta itemprop="description" content="Enter for a chance to win a trip to see Ariana Grande perform at her second show at the Barclays Center in New York!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/ariana-grande/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@radiodisney">
<meta name="twitter:title" content="Radio Disney | Ariana Grande Sweeps">
<meta name="twitter:description" content="Enter for a chance to win a trip to see Ariana Grande perform at her second show at the Barclays Center in New York!">
<meta name="twitter:creator" content="@radiodisney">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/ariana-grande/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Radio Disney | Ariana Grande Sweeps" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://arianagrande.herokuapp.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/ariana-grande/shareimage.jpg" />
<meta property="og:description" content="Enter for a chance to win a trip to see Ariana Grande perform at her second show at the Barclays Center in New York!" />
<meta property="og:site_name" content="Radio Disney" />